@import url('https://fonts.googleapis.com/css?family=Lato|Roboto&display=swap');

section{
    font-family: "Raleway", sans-serif;
}

/*h1{
    font-family: "Raleway", sans-serif;
}

h2{
    font-family: 'Raleway', sans-serif;
}*/

.crviz {
    background: #BF2A37 !important;

}

.packetcafe {
    background: #50BFB4 !important;
}

.xai {
    color: rgb(34, 30, 27) !important;
    background: whitesmoke !important;
}
